<main class="container">
  <section class="main-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a placerat leo. Mauris semper risus arcu, id dictum sapien
      laoreet quis. Pellentesque at ex porttitor velit dignissim faucibus. Aliquam massa purus, accumsan vitae lectus vitae,
      condimentum placerat nulla. Quisque tincidunt ante enim, finibus interdum risus scelerisque ut. Mauris tellus mauris,
      blandit nec tellus eu, congue tincidunt nulla. Nam faucibus risus ex, in luctus sapien fermentum ullamcorper. Sed sit
      amet nibh nunc. In congue tellus leo, at hendrerit ipsum consequat sed. Phasellus aliquet ante eget varius viverra.
      Ut rhoncus justo vel elementum lobortis. Phasellus vehicula lectus placerat ex cursus, ut convallis nunc pellentesque.
      Nulla sem ex, convallis non mauris aliquam, finibus varius purus.
    </p>
    <p>
      Phasellus mattis in mi nec consequat. Quisque vitae elementum turpis, eu ullamcorper justo. Vestibulum massa elit, porttitor
      ut lorem nec, fermentum accumsan mauris. Etiam ac nulla sit amet sapien porta varius at et leo. Donec mi est, imperdiet
      quis odio quis, auctor scelerisque lorem. Duis ut maximus metus, nec tempor magna. Ut non purus in dui facilisis tincidunt.
      Nunc in bibendum ipsum. Donec metus odio, iaculis in venenatis sed, sollicitudin sed dui. Sed sed lectus lacinia quam
      vulputate laoreet. Donec non elementum nibh, ut efficitur quam. Vestibulum laoreet nisi nec semper imperdiet. Curabitur
      id neque nec nisi efficitur scelerisque. Pellentesque neque diam, consequat sit amet rutrum et, dapibus vitae ligula.
      Cras cursus massa sit amet magna aliquet tristique.
    </p>
    <div class="card-container">
      <div cardFlip [@flipAnimation]="flipState" class="card">
        <div class="card-front">
          <h1>Welcome to BYND</h1>
        </div>
        <div c class="card-back">
          <h1>Welcome Colin</h1>
        </div>
      </div>
    </div>
    <p>
      Etiam finibus leo vitae sapien fermentum pretium vel eget eros. Nunc nisl elit, tincidunt vel ante ut, convallis iaculis
      sapien. Aenean eu vehicula risus, suscipit malesuada dui. Quisque rhoncus nec nisi vitae accumsan. Quisque volutpat
      sodales finibus. Proin lobortis lacus risus, nec sagittis lectus mattis vitae. Suspendisse potenti. Phasellus urna
      diam, cursus non malesuada sed, congue eu mi. Phasellus ex magna, iaculis quis mauris in, mattis sodales ipsum. Proin
      sit amet ullamcorper metus, in ultricies justo. Sed nec urna eu nisl porta dapibus sit amet at dui. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin pellentesque, dolor id tempor dignissim,
      nisi ligula porta dui, mollis convallis nunc dolor ut tortor. Morbi turpis nisl, semper euismod est a, blandit pharetra
      nisi. Fusce ligula odio, porttitor quis lacus sit amet, dignissim lobortis metus.
    </p>
    <p>
      Sed molestie vel urna a lobortis. Etiam dapibus, tellus a congue pulvinar, nunc turpis fringilla ligula, vel euismod erat
      ligula ut mauris. Donec blandit volutpat mi, a vulputate elit ullamcorper nec. Aenean vitae sollicitudin dolor. Proin
      suscipit vulputate lacus. Nunc mattis, libero eget maximus dignissim, nulla urna placerat sapien, et dignissim nibh
      nibh non sapien. Phasellus lobortis, metus ut luctus porta, est tellus aliquam orci, non fringilla augue mi in odio.
      Integer felis velit, blandit id malesuada a, posuere vitae felis. Curabitur malesuada arcu felis, nec sollicitudin
      dolor ultrices quis.
    </p>
    <p>
      Quisque quis elit non metus commodo tristique. Vivamus vulputate mauris diam, non laoreet tellus tristique id. Ut elementum
      augue ac ipsum viverra tincidunt. Morbi ut justo ultricies, pharetra augue et, tincidunt arcu. Cras fermentum pharetra
      dui, non sodales metus mollis et. Vivamus a placerat ligula. Praesent mollis tortor a eros accumsan venenatis. Fusce
      eu fermentum urna. Vivamus facilisis dapibus consectetur. Suspendisse auctor iaculis libero. Aliquam laoreet quam felis,
      ac imperdiet purus auctor eget. Nam in massa velit.
    </p>
    <p>
      Mauris sed nunc at elit pulvinar mollis eget vitae turpis. Nulla commodo lorem a lectus bibendum, nec dignissim sem tempus.
      Donec ornare, purus at auctor consectetur, tortor tellus malesuada sem, at cursus libero est eu eros. Pellentesque
      sodales imperdiet ultrices. Quisque fringilla, lorem et hendrerit iaculis, lorem erat tristique libero, in hendrerit
      dui nulla ac dolor. Morbi auctor eget libero ut tempus. Proin elit justo, porta a erat quis, tincidunt lacinia tellus.
      Sed blandit pellentesque sapien, nec congue ligula aliquam vel. Vivamus quis ornare est, in lobortis elit. Nulla lacinia
      mauris turpis, et rutrum risus rutrum non.
    </p>
    <p>
      Pellentesque a dignissim sapien, at rutrum mi. Duis vel sem ornare, aliquet magna vel, porttitor tortor. Duis porttitor sapien
      eget enim sodales viverra non eu justo. Ut ornare ultrices nibh, at congue odio blandit at. Vivamus est libero, scelerisque
      in ex tristique, fermentum eleifend lectus. Nam non diam nec turpis elementum eleifend. Curabitur convallis lectus
      a augue bibendum tincidunt. Sed aliquam venenatis ante id sagittis. Duis accumsan fringilla turpis in tincidunt.
    </p>
    <p>
      Ut sed enim laoreet, fringilla enim eu, faucibus eros. Maecenas finibus condimentum nibh, eu placerat dui sagittis ac. Pellentesque
      ac maximus est, sed mollis lacus. Curabitur purus lacus, mattis in condimentum vitae, aliquet ut nisl. Nulla interdum
      tincidunt turpis id vestibulum. Aenean et erat justo. Vestibulum posuere dui ex, ac fringilla nibh consectetur sed.
      Proin non sodales ipsum, tincidunt sodales enim. Sed cursus gravida velit et pharetra.
    </p>
    <p>
      Vestibulum a ornare odio. Vivamus auctor vestibulum urna, ut hendrerit arcu vulputate a. Sed a sapien vitae libero mollis
      mollis nec sit amet enim. In eget faucibus dolor, eu egestas velit. Vivamus non orci sed sapien dignissim faucibus.
      Donec sed semper leo, vel sollicitudin nunc. Cras vitae lorem varius, scelerisque ex eu, suscipit diam. Morbi posuere
      dictum cursus. Cras aliquet malesuada maximus. Cras non quam purus. Mauris elit lectus, porta sit amet efficitur sit
      amet, pulvinar rhoncus dui. Cras molestie vehicula lectus euismod pellentesque. Nam porta sodales arcu, vel tempus
      erat hendrerit eget.
    </p>
    <p>
      Sed porta non augue nec tincidunt. Nullam tincidunt mi id ligula ornare, quis egestas ipsum interdum. Suspendisse ut varius
      libero. Curabitur urna nisl, facilisis quis sagittis sed, convallis eu ex. Mauris sodales risus nec massa elementum
      molestie. Ut quis pellentesque neque, non ullamcorper mauris. Aliquam quis eros in magna vehicula semper. Cras nisi
      ante, elementum dapibus velit sed, efficitur ultrices ipsum. Sed sed metus sagittis, mattis sapien non, dictum nisl.
      Etiam sed lorem ante. Aliquam faucibus mi sed est fermentum, sit amet rutrum ante hendrerit.
    </p>

    <picture>
      <source media="(min-width: 900px)" srcset="https://cdn.dribbble.com/users/107759/screenshots/4891695/iphonex-simple-3_1.gif">
      <source media="(min-width: 650px)" srcset="https://cdn.dribbble.com/users/1185900/screenshots/4890498/shopping_online_03.png">
      <img [@scrollAnimation]="state" src="https://cdn.dribbble.com/users/31348/screenshots/4892068/newport_1x.jpg" alt="">
    </picture>
  </section>
</main>
